* {
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

main {
  border-radius: 1.25rem;
  min-width: 260px;
}

#generate-container {
  width: fit-content;
}

#generate-another {
  border-radius: .25em 0 0 .25em;
  margin-block-end: 0;
}

#generate-button {
  border-radius: 0 .25em .25em 0;
}

#footer-text {
  font-size: .8em;
  position: relative;
  top: 4.5em;
}